body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  background-color: #1e2831;
  justify-content: center;
  padding: 10px;
  gap: 50px;
}

.navbar button {
  all: unset;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-left: #1e2831 2px solid;
  border-right: #1e2831 2px solid;
}

.navbar button:hover {
  color: #27d3e4;
  border-left: #27d3e4 2px solid;
  border-right: #27d3e4 2px solid;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  align-items: center;
}

.home-page button {
  /* all: unset; */
}

button {
  background-color: #517992;
  border: 1px solid #517992;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}

.nickname-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.nickname-form button {
  margin-left: 20px;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  border: solid black 2px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}

.lobby-users-list {
  display: flex;
  height: auto;
  gap: 100px;
  margin-bottom: 25px;
}

.card-hand {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 60vw;
  flex-wrap: wrap;
  justify-content: center;
}

.card-hand img {
  display: inline-block;
  width: 60px;
  margin-left: -40px; /* half of the image width */
  z-index: 1; /* to ensure the cards stack on top of each other */
  transition: 200ms;
}

.card-hand img:hover {
  transform: scale(1.2);
  z-index: 2;
}

.player-one-board {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50vw;
  max-width: 350px;
}

.player-one-board-one,
.player-one-board-two,
.player-one-board-three,
.player-one-board-four {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.player-one-square {
  width: 50px;
  height: 70px;
  border: solid lightgray 2px;
  border-radius: 5px;
  margin: 5px;
}

.card-on-board {
  transition: 200ms;
}

.card-on-board-highlighted {
  transition: 200ms;
  border: solid gold 1px;
  box-sizing: border-box;
  animation: glowing-border 1.5s ease-in-out infinite;
}

.card-on-board-highlighted:hover {
  z-index: 3;
  transform: scale(1.5);
}

.card-on-board:hover {
  z-index: 3;
  transform: scale(1.5);
}

.card-on-board-selected {
  border: solid gold 1px;
  box-sizing: border-box;
  animation: glowing-border 1.5s ease-in-out infinite;
}

.card-on-board-in-battle-p1 {
  transform: translateY(-100px);
}

.card-on-board-in-battle-p2 {
  transform: translateY(100px);
}
@keyframes glowing-border {
  0% {
    box-shadow: 0 0 10px gold;
  }
  50% {
    box-shadow: 0 0 10px green;
    border: solid green 1px;
  }
  100% {
    box-shadow: 0 0 10px gold;
  }
}
