body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container {
  margin: auto;
  text-align: center;
}

.nickname-form {
  display: flex;
  justify-content: center;
}

.nickname-form button {
  margin-left: 20px;
}

.lobby-container {
  width: 70vw;
  background-color: aqua;
  margin: auto;
}

.lobby-users-list {
  background-color: beige;
  height: 50vw;
}

.card-hand {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: center;
}

.card-hand img {
  display: inline-block;
  width: 60px;
  margin-left: -40px; /* half of the image width */
  z-index: 1; /* to ensure the cards stack on top of each other */
  transition: 200ms;
}

.card-hand img:hover {
  transform: scale(1.2);
  z-index: 2;
}

.player-one-board {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50vw;
}

.player-one-board-one,
.player-one-board-two,
.player-one-board-three,
.player-one-board-four {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.player-one-square {
  width: 50px;
  height: 70px;
  border: solid lightgray 2px;
  border-radius: 5px;
  margin: 5px;
}

.card-on-board {
  transition: 200ms;
}

.card-on-board:hover {
  z-index: 3;
  transform: scale(1.5);
}

.card-on-board-selected {
  border: solid gold 1px;
  box-sizing: border-box;
  animation: glowing-border 1.5s ease-in-out infinite;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 10px gold;
  }
  50% {
    box-shadow: 0 0 10px green;
    border: solid green 1px;
  }
  100% {
    box-shadow: 0 0 10px gold;
  }
}
